[core]
    autocrlf = input
    compression = 0
    longpaths = true
    editor = vim

[user]
    name = yuluo-yx
    email = yuluo08290126@gmail.com

[http]
	proxy = http://127.0.0.1:7890
[https]
	proxy = http://127.0.0.1:7890

[alias]
    br = branch
    c  = commit -s -m
    co = checkout
    ch = cherry-pick
    dump = cat-file -p
    hist = log --pretty=format:'%C(yellow)[%ad]%C(reset) %C(green)[%h]%C(reset) | %C(red)%s %C(bold red){{%an}}%C(reset) %C(blue)%d%C(reset)' --graph --date=short
    type = cat-file -t
    st = "!f() { stats=$( { if git rev-parse --verify HEAD >/dev/null 2>&1; then git diff --numstat HEAD --; else git diff --cached --numstat --; git diff --numstat --; fi; } 2>/dev/null | { add=0; del=0; while\n  read -r a d _; do [ -z \"$a\" ] && a=0; [ \"$a\" = \"-\" ] && a=0; [ -z \"$d\" ] && d=0; [ \"$d\" = \"-\" ] && d=0; add=$((add + a)); del=$((del + d)); done; printf \"%s %s\" \"$add\" \"$del\"; } ); add=${stats% *}; del=${stats#* }; total=$((add + del));\n  green=$(git config --get-color \"\" green); red=$(git config --get-color \"\" red); reset=$(git config --get-color \"\" reset); echo \"Change lines: $total  ${green}+${add}${reset}  ${red}-${del}${reset}\"; git status \"$@\"; }; f"

[filter "lfs"]
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
    clean = git-lfs clean -- %f

[credential]
    helper = store

[diff]
    tool = vimdiff

[merge]
    tool = vimdiff

[push]
    default = current

[color]
	ui = auto
[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green
[color "status"]
	added = yellow
	changed = green
	untracked = cyan
